.footer
	.footer-menu
		a(href="") Aksyon
		a(href="") On Air
		a(href="") Kontrabando
		a(href="") Newsroom5
		a(href="") Factuals

	.footer-menu2
		a(href='') Terms of Services
		a(href='') Privacy Policy

	.copyright
		p © 2015 TV5 Network Inc. All Rights Reserved.


.overlay
script(type='' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js").
script(type='text/javascript' src='js/all.js').
