mixin ads-leaderboard
	section.ads-wide
		.ads-box

mixin ads-sidebar
	.ads-sidebar
		.ads-box-sidebar
			p AD


mixin ads-content
	.ads-content
		.ads-box-content
			p AD

mixin weather-radio-mobile
	.weather-radio-mobile
		span.weather-icon
			img(src='/css/img/sample-weather-icon.png')
		span.weather-temp 45
			sup o
		span.weather-info MANILA

		.control
			a(class='play-radio')
				i(class='fa fa-play')

			span.status ON AIR

			.radio-caption Interview with Gringo Honasan

			audio#radio
				source(src='/mp3/sample.ogg' type='audio/ogg')
				source(src='/mp3/sample.mp3' type='audio/mp3')
