mixin full-article-list

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/people/' alt)

		h1.article-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

		p.excerpt Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Etiam consectetur justo ipsum. Sed fermentum, est in cursus vulputate, lectus diam condimentum mi, gravida lobortis orci nibh non quam. Morbi efficitur massa ipsum, non consectetur magna elementum ut. Cras elementum semper ipsum, bibendm... pellentesque libero viverra vitae.

		span.timestamp Cherie Mercado - Yesterday

	li.middle
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/fashion/' alt)

		h1.article-title: a(href='') Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum.

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/business/' alt)

		h1.article-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/city/' alt)

		h1.article-title: a(href='') Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum.

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday


	li.middle
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/fashion/' alt)

		h1.article-title: a(href='') Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum.

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/people/' alt)

		h1.article-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

		p.excerpt Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Etiam consectetur justo ipsum. Sed fermentum, est in cursus vulputate, lectus diam condimentum mi, gravida lobortis orci nibh non quam. Morbi efficitur massa ipsum, non consectetur magna elementum ut. Cras elementum semper ipsum, bibendm... pellentesque libero viverra vitae.

		span.timestamp Cherie Mercado - Yesterday


mixin article-list

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/people/' alt)

		h1.article-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

		p.excerpt Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Etiam consectetur justo ipsum. Sed fermentum, est in cursus vulputate, lectus diam condimentum mi, gravida lobortis orci nibh non quam. Morbi efficitur massa ipsum, non consectetur magna elementum ut. Cras elementum semper ipsum, bibendm... pellentesque libero viverra vitae.

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/fashion/' alt)

		h1.article-title: a(href='') Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum.

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/business/' alt)

		h1.article-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday

	li
		.article-list-imagebox
			img(src='http://lorempixel.com/474/324/city/' alt)

		h1.article-title: a(href='') Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum.

		p.excerpt Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condime consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend...  non... Quisque condimentum turpis sed

		span.timestamp Cherie Mercado - Yesterday




mixin article-list-sidebar
	li
		.article-sidebar-image
			img(src='http://lorempixel.com/300/185/people/' alt)

		h1.sidebar-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolorli

	li
		.article-sidebar-image
			img(src='http://lorempixel.com/300/185/business/' alt)

		h1.sidebar-title: a(href='') Neque porro quisquam est qui dolorem ipsum quia dolor

mixin opinion-list
	li
		.opinion-thumbnail
			img(src='http://lorempixel.com/161/161/business/' alt)

		h1.opinion-title: a(href='') Neque porro quisquam est qui dolorem
		span.author Cherie Mercado

		p Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Et... consectetur ju...

	li
		.opinion-thumbnail
			img(src='http://lorempixel.com/161/161/fashion/' alt)

		h1.opinion-title: a(href='') Neque porro quisquam est qui dolorem
		span.author Cherie Mercado

		p Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Et... consectetur ju...


mixin mostrecent-list
	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/business/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem

	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/fashion/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem
	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/business/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem

	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/sports/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem
	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/people/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem

mixin section-list
	li.featured-section
		.thumbnail
			img(src='http://lorempixel.com/676/418/business/' alt)

		h2.small-title: a(href='') Barko na Sumadsad sa Manila Bay,Lumutang na

	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/fashion/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem
	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/business/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem

	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/sports/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem
	li
		.small-thumbnail
			img(src='http://lorempixel.com/237/162/people/' alt)

		h2.small-title: a(href='') Neque porro quisquam est qui dolorem
