/* IMPORTED FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@font-face {
  font-family: 'oswaldbold';
  src: url("fonts/oswald-bold-webfont.eot");
  src: url("fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-bold-webfont.woff2") format("woff2"), url("fonts/oswald-bold-webfont.woff") format("woff"), url("fonts/oswald-bold-webfont.ttf") format("truetype"), url("fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldmedium';
  src: url("fonts/oswald-medium-webfont.eot");
  src: url("fonts/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-medium-webfont.woff2") format("woff2"), url("fonts/oswald-medium-webfont.woff") format("woff"), url("fonts/oswald-medium-webfont.ttf") format("truetype"), url("fonts/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_regularregular';
  src: url("fonts/oswald-regular-webfont.eot");
  src: url("fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-regular-webfont.woff2") format("woff2"), url("fonts/oswald-regular-webfont.woff") format("woff"), url("fonts/oswald-regular-webfont.ttf") format("truetype"), url("fonts/oswald-regular-webfont.svg#oswald_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswaldlight';
  src: url("fonts/oswald-light-webfont.eot");
  src: url("fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-light-webfont.woff2") format("woff2"), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.ttf") format("truetype"), url("fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Arial;
  font-size: 13px;
  background: #fff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline-width: 0;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9; }

h1 {
  font-family: Arial;
  font-size: 24px;
  line-height: 24px; }

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  width: 100%;
  height: 118px;
  background: #000;
  margin-bottom: 100px;
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main {
      height: auto;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .main {
      height: auto;
      margin-bottom: 0; } }
  .main.fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10; }
  .main .topbar {
    width: 100%;
    height: 28px;
    background: #e31837; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .main .topbar {
        overflow: hidden;
        height: auto;
        max-height: 28px;
        -moz-transition: 50ms;
        -webkit-transition: 50ms;
        -ms-transition: 50ms;
        -o-transition: 50ms;
        transition: 50ms; }
        .main .topbar.slideDown {
          max-height: 1000px;
          -moz-transition: 1s;
          -webkit-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
          transition: 1s; } }

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 0 0 0; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .container {
      padding: 0 0 0; } }

.wrapper {
  width: 100%;
  max-width: 1366px;
  padding: 0 30px;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      padding: 0 20px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .wrapper {
      min-height: 0;
      padding: 0 10px; } }

.content {
  width: 100%;
  float: left;
  max-width: -moz-calc(100% - 330px);
  max-width: -webkit-calc(100% - 330px);
  max-width: calc(100% - 330px); }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .content {
      max-width: none; } }

.sidebar {
  width: 330px;
  float: left;
  padding-left: 30px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .sidebar {
      max-width: none;
      padding-left: 0;
      width: 100%; } }
  .sidebar .newsflash {
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%; }
    .sidebar .newsflash > h1 {
      display: block;
      background: #eb1d26;
      color: #fff;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 15px;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 600; }
    .sidebar .newsflash ul {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden; }
      .sidebar .newsflash ul li {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 20px; }
        .sidebar .newsflash ul li:hover div img {
          -moz-transition: 5s;
          -webkit-transition: 5s;
          -ms-transition: 5s;
          -o-transition: 5s;
          transition: 5s;
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
  .sidebar .presinto {
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%; }
    .sidebar .presinto > h1 {
      display: block;
      background: #000;
      color: #fff;
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 15px;
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 600; }
      .sidebar .presinto > h1 span {
        color: #eb1d26; }
    .sidebar .presinto ul {
      display: block;
      width: 100%;
      height: auto;
      overflow: hidden; }
      .sidebar .presinto ul li {
        display: block;
        height: auto;
        width: 100%;
        margin-bottom: 20px; }
        .sidebar .presinto ul li:hover div img {
          -moz-transition: 5s;
          -webkit-transition: 5s;
          -ms-transition: 5s;
          -o-transition: 5s;
          transition: 5s;
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
  .sidebar .article-sidebar-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; }
    .sidebar .article-sidebar-image img {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      -moz-transition: 5s;
      -webkit-transition: 5s;
      -ms-transition: 5s;
      -o-transition: 5s;
      transition: 5s;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
  .sidebar .sidebar-title {
    font-size: 20px;
    color: #000;
    font-family: "Open Sans";
    font-weight: 700; }
    .sidebar .sidebar-title a {
      color: #000;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .sidebar .sidebar-title a:hover {
        color: #eb1d26;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }

.footer {
  width: 100%;
  background: #000;
  height: 190px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
  color: #fff; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .footer {
      padding: 30px 10px;
      height: auto; } }

.footer-menu {
  display: block; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .footer-menu {
      float: left;
      width: 50%;
      margin-bottom: 20px; } }
  .footer-menu a {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    font-weight: 600;
    font-family: "Open Sans"; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer-menu a {
        display: block;
        text-align: left;
        padding: 5px 20px; } }

.footer-menu2 {
  display: block;
  margin: 40px 0 20px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .footer-menu2 {
      float: left;
      width: 50%;
      margin: 0; } }
  .footer-menu2 a {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
    font-weight: 300;
    font-family: "Open Sans"; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer-menu2 a {
        display: block;
        text-align: right;
        padding: 5px 20px; } }
    .footer-menu2 a:nth-child(1) {
      border-right: 1px #fff solid; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .footer-menu2 a:nth-child(1) {
          border-right: 0; } }

.copyright {
  font-family: "Open Sans";
  clear: both; }

.topmenu {
  display: block;
  width: auto;
  float: left;
  height: 28px;
  margin-left: 60px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .topmenu {
      margin-left: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topmenu {
      margin-left: 0;
      float: none;
      overflow: hidden;
      height: auto; } }
  .topmenu li {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-size: 12; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .topmenu li {
        float: none; } }
    .topmenu li a {
      display: block;
      height: 12px;
      line-height: 12px;
      margin: 8px 0;
      padding: 0 10px;
      color: #fff;
      font-family: "Open Sans";
      text-transform: uppercase;
      border-right: 1px #fff solid; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .topmenu li a {
          border-right: 0 #fff solid; } }
      .topmenu li a .liveindicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #8dc63f;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin-left: 5px; }
    .topmenu li:last-child a {
      border-right: 0; }

.access {
  float: right;
  display: block;
  width: auto;
  background: #2f3837;
  height: 28px;
  padding: 0 20px;
  margin-right: 40px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .access {
      margin-right: 0; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .access {
      float: none;
      margin-right: 0; } }
  .access li {
    display: block;
    float: left; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .access li {
        width: 50%;
        text-align: center; } }
    .access li a {
      display: block;
      height: 12px;
      line-height: 12px;
      margin: 8px 0;
      padding: 0 10px;
      color: #fff;
      font-family: "Open Sans";
      text-transform: uppercase;
      border-right: 1px #fff solid; }
    .access li:last-child a {
      border-right: 0; }

.logo {
  display: block;
  float: left;
  width: 150px;
  height: 70px;
  background: #fff;
  margin-top: 20px;
  -moz-border-radius: 150px 150px 0 0;
  -webkit-border-radius: 150px 150px 0 0;
  -ms-border-radius: 150px 150px 0 0;
  -o-border-radius: 150px 150px 0 0;
  border-radius: 150px 150px 0 0;
  text-align: center;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .logo {
      width: 90px;
      height: 45px;
      background: #fff;
      margin-top: 5px;
      -moz-border-radius: 90px 90px 0 0;
      -webkit-border-radius: 90px 90px 0 0;
      -ms-border-radius: 90px 90px 0 0;
      -o-border-radius: 90px 90px 0 0;
      border-radius: 90px 90px 0 0; } }
  .logo img {
    display: block;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .logo img {
        height: 50px;
        width: auto;
        top: 15px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .logo img {
        height: 28px;
        width: auto;
        top: 10px; } }

.site-title {
  display: block;
  float: left;
  margin-left: 60px;
  line-height: 130px;
  height: 90px; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .site-title {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .site-title {
      display: block; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .site-title {
      display: none; } }

.main-nav {
  height: 90px;
  float: left;
  min-width: 500px;
  margin-left: 90px; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .main-nav {
      margin-left: 20px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-nav {
      position: relative;
      float: none;
      background: #eb1d26;
      width: -moz-calc(100% + 40px);
      width: -webkit-calc(100% + 40px);
      width: calc(100% + 40px);
      margin-left: -20px;
      clear: both;
      overflow: hidden;
      height: auto;
      min-width: 0;
      max-height: 0;
      -moz-transition: 50ms;
      -webkit-transition: 50ms;
      -ms-transition: 50ms;
      -o-transition: 50ms;
      transition: 50ms; }
      .main-nav.slideDown {
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        max-height: 1000px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .main-nav {
      position: relative;
      float: none;
      background: #eb1d26;
      width: -moz-calc(100% + 20px);
      width: -webkit-calc(100% + 20px);
      width: calc(100% + 20px);
      margin-left: -10px;
      clear: both;
      overflow: hidden;
      height: auto;
      min-width: 0;
      max-height: 0;
      -moz-transition: 50ms;
      -webkit-transition: 50ms;
      -ms-transition: 50ms;
      -o-transition: 50ms;
      transition: 50ms; }
      .main-nav.slideDown {
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        max-height: 1000px; } }
  .main-nav .nav {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 52px 0 0; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .main-nav .nav {
        padding: 0 0; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .main-nav .nav {
        padding: 0 0; } }
    .main-nav .nav > li {
      display: block;
      float: left;
      padding: 0 20px 0; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .main-nav .nav > li {
          float: none;
          padding: 0;
          line-height: 38px; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .main-nav .nav > li {
          float: none;
          padding: 0;
          line-height: 38px; } }
      .main-nav .nav > li > a {
        color: #fff;
        display: block;
        padding-bottom: 25px;
        position: relative;
        font-family: "Open Sans";
        font-weight: 600;
        text-align: center; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .main-nav .nav > li > a {
            padding: 0 20px;
            text-align: left; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .main-nav .nav > li > a {
            padding: 0 20px;
            text-align: left; } }
        .main-nav .nav > li > a span {
          color: #eb1d26; }
      .main-nav .nav > li:hover > a:after, .main-nav .nav > li.active > a:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: #eb1d26;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 20px; }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .main-nav .nav > li:hover > a:after, .main-nav .nav > li.active > a:after {
            display: none; } }
      .main-nav .nav > li:hover > .submenu {
        display: block; }
      .main-nav .nav > li .submenu {
        display: none;
        width: auto;
        overflow: hidden;
        position: absolute;
        text-align: center;
        z-index: 9;
        margin-left: -20px; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .main-nav .nav > li .submenu {
            width: 100%;
            position: relative;
            margin-left: 0;
            background: #990033;
            overflow: hidden; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .main-nav .nav > li .submenu {
            width: 100%;
            position: relative;
            margin-left: 0;
            background: #990033;
            overflow: hidden; } }
        .main-nav .nav > li .submenu li {
          display: inline-block;
          height: 56px;
          line-height: 56px;
          background: #eb1d26;
          padding: 0 20px;
          position: relative;
          -moz-transition: 1s;
          -webkit-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            .main-nav .nav > li .submenu li {
              display: block;
              height: 38px;
              line-height: 38px;
              text-align: left;
              padding-left: 40px;
              background: #990033; } }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .main-nav .nav > li .submenu li {
              display: block;
              height: 38px;
              line-height: 38px;
              text-align: left;
              padding-left: 40px;
              background: #990033; } }
          .main-nav .nav > li .submenu li:hover {
            -moz-transition: 1s;
            -webkit-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
            background: #990000; }
          .main-nav .nav > li .submenu li:after {
            content: '';
            display: block;
            width: 10px;
            height: 100%;
            position: absolute;
            left: 100%;
            background: #eb1d26;
            top: 0;
            z-index: -1; }
            @media only screen and (min-width: 0) and (max-width: 767px) {
              .main-nav .nav > li .submenu li:after {
                display: none; } }
          .main-nav .nav > li .submenu li a {
            color: #fff; }

.main.fixed .logo img {
  height: 50px;
  width: auto;
  top: 15px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .main.fixed .logo img {
      height: 28px;
      width: auto;
      top: 10px; } }

.social {
  float: right;
  height: 90px;
  color: #fff;
  width: auto;
  overflow: hidden;
  line-height: 90px;
  font-size: 14px;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .social {
      display: none; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .social {
      display: none; } }
  .social a {
    color: #fff;
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 25px;
    cursor: pointer;
    font-size: 20px; }
    .social a i {
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .social a:hover i.fa-facebook {
      color: #3b5998; }
    .social a:hover i.fa-twitter {
      color: #4099ff; }
  .social span {
    display: block;
    overflow: hidden;
    float: left;
    width: auto;
    max-width: 25px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .social span.open {
      max-width: 250px; }
  .social .searchbox {
    float: left; }

.mobile-social {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile-social {
      display: block;
      width: 100%;
      height: 30px;
      overflow: hidden; }
      .mobile-social a {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: #fff; }
        .mobile-social a.m-social--twitter {
          background: #4099ff; }
        .mobile-social a.m-social--facebook {
          background: #3b5998; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobile-social {
      display: block;
      width: 100%;
      height: 30px;
      overflow: hidden; }
      .mobile-social a {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        height: 30px;
        line-height: 30px;
        color: #fff; }
        .mobile-social a.m-social--twitter {
          background: #4099ff; }
        .mobile-social a.m-social--facebook {
          background: #3b5998; } }

.searchbox {
  display: block;
  margin: 30px auto;
  height: 30px;
  padding: 0 10px;
  border: 0;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .searchbox {
      margin: 10px auto;
      width: 100%;
      height: 30px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .searchbox {
      margin: 10px auto;
      width: 100%;
      height: 30px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; } }

.mobilesearch {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mobilesearch {
      display: block;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      width: -moz-calc(100% - 20px);
      width: -webkit-calc(100% - 20px);
      width: calc(100% - 20px);
      height: 40px;
      margin: 10px auto;
      padding: 0 20px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mobilesearch {
      display: block;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      border: 0;
      width: -moz-calc(100% - 20px);
      width: -webkit-calc(100% - 20px);
      width: calc(100% - 20px);
      height: 40px;
      margin: 10px auto;
      padding: 0 20px; } }

.topnav {
  display: none; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .topnav {
      display: block;
      height: 28px;
      text-align: center;
      color: #fff;
      line-height: 28px;
      font-size: 20px; } }

.burgermenu {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .burgermenu {
      display: block;
      float: right;
      width: 30px;
      height: 20px;
      margin: 35px 0;
      position: relative; }
      .burgermenu span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: -moz-calc(50% - 2px);
        top: -webkit-calc(50% - 2px);
        top: calc(50% - 2px); }
      .burgermenu:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: 0; }
      .burgermenu:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        bottom: 0; }
      .burgermenu.open span {
        display: none; }
      .burgermenu.open:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%; }
      .burgermenu.open:after {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 50%; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .burgermenu {
      display: block;
      float: right;
      width: 30px;
      height: 20px;
      margin: 15px 0;
      position: relative; }
      .burgermenu span {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: -moz-calc(50% - 2px);
        top: -webkit-calc(50% - 2px);
        top: calc(50% - 2px); }
      .burgermenu:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        top: 0; }
      .burgermenu:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        bottom: 0; }
      .burgermenu.open span {
        display: none; }
      .burgermenu.open:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 50%; }
      .burgermenu.open:after {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 50%; } }

.ads-wide {
  background: #e5e5e5;
  height: 110px;
  padding: 10px 0;
  display: block; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-wide {
      padding: 10px; } }

.ads-box {
  width: 728px;
  height: 90px;
  margin: 0 auto; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-box {
      width: 100%; } }
  .ads-box:after {
    content: 'LEADERBOARD';
    display: block;
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #cccccc;
    border: 1px #cccccc solid; }

.ads-content {
  height: 250px;
  width: 100%;
  padding: 80px 0;
  border-top: 1px #e5e5e5 solid; }
  .ads-content .ads-box-content {
    width: 100%;
    max-width: 728px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    line-height: 90px;
    text-align: center;
    color: #ededed;
    background: #cccccc;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: 900; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .ads-content .ads-box-content {
        width: 100%; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .ads-content .ads-box-content {
        width: 100%; } }
    .ads-content .ads-box-content:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0; }

.ads-sidebar {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 52px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ads-sidebar {
      width: 100vw;
      left: 50%;
      position: relative;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #999999;
      padding: -moz-calc((100vw - 300px) / 2);
      padding: -webkit-calc((100vw - 300px) / 2);
      padding: calc((100vw - 300px) / 2);
      padding-top: 10px;
      padding-bottom: 10px; } }

.ads-box-sidebar {
  width: 100%;
  height: 250px;
  background: #e5e5e5;
  position: relative;
  line-height: 250px;
  text-align: center;
  color: #ededed;
  background: #cccccc;
  font-size: 60px;
  font-family: "Open Sans";
  font-weight: 900; }

.featured-article {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .featured-article {
      width: 100vw;
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); } }
  .featured-article p {
    font-family: "Lora", serif;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .featured-article p {
        padding: 0 20px; } }
    .featured-article p a {
      color: #999999;
      font-style: italic;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -ms-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .featured-article p a:hover {
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        color: #eb1d26; }

.featured-box {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 43px; }
  .featured-box:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -moz-box-shadow: #000 0 -120px 100px inset;
    -webkit-box-shadow: #000 0 -120px 100px inset;
    -ms-box-shadow: #000 0 -120px 100px inset;
    -o-box-shadow: #000 0 -120px 100px inset;
    box-shadow: #000 0 -120px 100px inset; }
  .featured-box img {
    width: 100%;
    height: auto;
    display: block;
    -moz-transition: 5s;
    -webkit-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    cursor: pointer; }
  .featured-box:hover img {
    -moz-transition: 5s;
    -webkit-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

@media only screen and (min-width: 0) and (max-width: 767px) {
  .meta-report {
    display: none; } }

.meta-report p {
  font-family: "Lora", serif;
  font-size: 14px;
  color: #fff;
  font-style: italic;
  margin: 0 0 30px; }
  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .meta-report p {
      padding: 0;
      margin-bottom: 11px; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .meta-report p {
      padding: 0;
      margin-bottom: 11px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .meta-report p {
      padding: 0;
      margin-bottom: 11px; } }

.featured-box-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 25px;
  width: 100%;
  height: auto;
  z-index: 1; }
  .featured-box-content h1 {
    font-family: "Open Sans";
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #fff; }
    @media only screen and (min-width: 1024px) and (max-width: 1279px) {
      .featured-box-content h1 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 11px; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .featured-box-content h1 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 11px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .featured-box-content h1 {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 11px; } }
    .featured-box-content h1 a {
      color: #fff; }

.watchnow-btn {
  display: block;
  width: 160px;
  height: 40px;
  padding: 0 10px 0 40px;
  position: relative;
  background: #eb1d26;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.02em;
  overflow: hidden;
  z-index: 1; }
  .watchnow-btn:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    left: 18px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .watchnow-btn:after {
    content: '';
    position: absolute;
    display: block;
    background: #990000;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    z-index: -1;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .watchnow-btn:hover:after {
    left: 0;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.article-list-content {
  width: 100%;
  height: auto;
  overflow: hidden; }

.article-list-box {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden; }
  .article-list-box li {
    width: 50%;
    float: left;
    height: 600px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .article-list-box li {
        width: 100%;
        float: none;
        margin-bottom: 20px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .article-list-box li {
        width: 100%;
        float: none;
        margin-bottom: 20px; } }
    .article-list-box li:nth-child(odd) {
      padding-right: 14px;
      border-right: 1px #e5e5e5 solid; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .article-list-box li:nth-child(odd) {
          border-right: 0;
          padding-right: 0; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .article-list-box li:nth-child(odd) {
          border-right: 0;
          padding-right: 0; } }
    .article-list-box li:nth-child(even) {
      padding-left: 14px; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .article-list-box li:nth-child(even) {
          padding-left: 0; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .article-list-box li:nth-child(even) {
          padding-left: 0; } }
    .article-list-box li:hover .article-list-imagebox img {
      -moz-transition: 5s;
      -webkit-transition: 5s;
      -ms-transition: 5s;
      -o-transition: 5s;
      transition: 5s;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }

.article-list-imagebox {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative; }
  .article-list-imagebox img {
    width: 100%;
    display: block;
    height: auto;
    display: block;
    -moz-transition: 5s;
    -webkit-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.article-title {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px; }
  .article-title a {
    color: #000;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .article-title a:hover {
      color: #eb1d26;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.excerpt {
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px; }

.timestamp {
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 20px;
  color: #cccccc;
  font-style: italic; }

.loading-box {
  height: 180px;
  width: 100%;
  text-align: center;
  line-height: 180px;
  font-size: 18px;
  font-family: "Lora", serif;
  font-style: italic;
  color: #999999; }

.opinion-container {
  position: relative; }
  .opinion-container > h1 {
    font-size: 16px;
    display: block;
    height: 20px;
    margin: 0 auto;
    line-height: 20px;
    width: 120px;
    font-family: "Lora", serif;
    font-style: italic;
    text-transform: uppercase;
    background: #fff;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
    font-weight: 700; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .opinion-container > h1 {
        margin-bottom: 10px; } }
    .opinion-container > h1:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #e5e5e5;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: -1; }
  .opinion-container ul {
    display: block;
    width: 100%;
    overflow: hidden;
    height: auto;
    margin-bottom: 50px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .opinion-container ul {
        margin-bottom: 10px; } }
    .opinion-container ul li {
      float: left;
      display: block;
      width: 50%; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .opinion-container ul li {
          float: none;
          width: 100%;
          padding: 20px 0;
          overflow: hidden; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .opinion-container ul li {
          float: none;
          width: 100%;
          padding: 20px 0; } }
      .opinion-container ul li:nth-child(2) {
        padding-left: 19px;
        border-left: 1px #e5e5e5 solid; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .opinion-container ul li:nth-child(2) {
            border-left: 0;
            padding-left: 0;
            border-top: 1px #e5e5e5 solid; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .opinion-container ul li:nth-child(2) {
            border-left: 0;
            padding-left: 0;
            border-top: 1px #e5e5e5 solid; } }
      .opinion-container ul li p {
        font-size: 15px;
        font-family: "Lora", serif; }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          .opinion-container ul li p {
            font-size: 13px; } }
        @media only screen and (min-width: 0) and (max-width: 767px) {
          .opinion-container ul li p {
            display: none; } }
    .opinion-container ul .opinion-thumbnail {
      float: left;
      width: 161px;
      height: 161px;
      margin-right: 25px;
      overflow: hidden; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .opinion-container ul .opinion-thumbnail {
          width: 80px;
          height: 80px; } }
      .opinion-container ul .opinion-thumbnail img {
        width: 100%;
        height: auto;
        display: block;
        position: relative; }
    .opinion-container ul .opinion-title {
      font-size: 20px;
      font-family: "Open Sans";
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 10px; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .opinion-container ul .opinion-title {
          line-height: 20px; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .opinion-container ul .opinion-title {
          font-size: 19px;
          line-height: 23px; } }
      .opinion-container ul .opinion-title a {
        color: #000; }
    .opinion-container ul span.author {
      font-size: 14px;
      display: block;
      font-family: "Lora", serif;
      font-style: italic;
      color: #cccccc;
      margin-bottom: 20px; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .opinion-container ul span.author {
          margin-bottom: 10px; } }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .opinion-container ul span.author {
          margin-bottom: 0; } }

.weather-container {
  width: 100%;
  padding: 30px 10px;
  height: auto;
  overflow: hidden; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .weather-container {
      display: none; } }

.weather-icon {
  display: block;
  float: left;
  width: 25%;
  height: 50px; }

.weather-temp {
  display: block;
  float: left;
  width: 25%;
  height: 50px;
  color: #eb1d26;
  font-size: 35px;
  font-family: "Open Sans";
  line-height: 40px;
  font-weight: 700;
  text-align: center; }
  .weather-temp sup {
    vertical-align: super;
    font-size: 20px; }

.weather-info {
  display: block;
  float: left;
  width: 50%;
  height: 50px;
  font-size: 20px;
  font-family: "Open Sans";
  padding: 0 0 0 10px;
  line-height: 40px;
  border-left: 1px #e5e5e5 solid; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .weather-info {
      font-size: 18px; } }
  .weather-info small {
    display: block;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: -20px; }

.radio-sidebar {
  width: 100%;
  padding: 10px;
  background: #cccccc;
  margin-bottom: 20px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .radio-sidebar {
      display: none; } }
  .radio-sidebar img {
    display: block;
    margin: 20px auto; }
  .radio-sidebar .control {
    width: 100%;
    height: 35px;
    overflow: hidden; }
  .radio-sidebar .play-radio {
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    background: #eb1d26;
    text-align: center;
    line-height: 35px;
    color: #fff; }
    .radio-sidebar .play-radio .fa {
      font-size: 15px;
      margin-top: 7px; }
  .radio-sidebar .status {
    display: block;
    float: left;
    width: 85px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #000;
    color: #fff;
    font-family: "Open Sans"; }
  .radio-sidebar .radio-caption {
    width: -moz-calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px);
    float: left;
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    background: #999999;
    color: #fff; }

.weather-radio-mobile {
  display: none; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .weather-radio-mobile {
      display: block;
      height: 25px;
      background: #fff;
      overflow: hidden;
      padding: 0 0; }
      .weather-radio-mobile .weather-icon {
        display: block;
        float: left;
        width: 30px;
        height: 25px; }
        .weather-radio-mobile .weather-icon img {
          width: 80%;
          display: block;
          margin: 1px auto; }
      .weather-radio-mobile .weather-temp {
        display: block;
        float: left;
        width: 30px;
        height: 25px;
        color: #eb1d26;
        font-size: 12px;
        font-family: "Open Sans";
        line-height: 20px;
        font-weight: 700;
        text-align: center; }
        .weather-radio-mobile .weather-temp sup {
          vertical-align: super;
          font-size: 10px; }
      .weather-radio-mobile .weather-info {
        display: block;
        float: left;
        width: 65px;
        height: 25px;
        font-size: 12px;
        font-family: "Open Sans";
        padding: 0 0 0 10px;
        line-height: 25px;
        border-left: 0 #e5e5e5 solid;
        font-weight: 700; }
      .weather-radio-mobile .control {
        width: -moz-calc(100% - 125px);
        width: -webkit-calc(100% - 125px);
        width: calc(100% - 125px);
        height: 25px;
        overflow: hidden;
        float: left; }
        .weather-radio-mobile .control .play-radio {
          display: block;
          float: left;
          width: 25px;
          height: 25px;
          background: #eb1d26;
          text-align: center;
          line-height: 25px;
          color: #fff; }
          .weather-radio-mobile .control .play-radio .fa {
            font-size: 10px;
            margin-top: 0; }
        .weather-radio-mobile .control .status {
          display: block;
          float: left;
          width: 50px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          background: #000;
          color: #fff;
          font-family: "Open Sans";
          font-size: 10px; }
        .weather-radio-mobile .control .radio-caption {
          width: -moz-calc(100% - 75px);
          width: -webkit-calc(100% - 75px);
          width: calc(100% - 75px);
          float: left;
          padding: 0 10px;
          line-height: 25px;
          height: 25px;
          overflow: hidden;
          background: #999999;
          color: #fff;
          font-size: 10px; } }

.social-sidebar-tab {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px; }
  .social-sidebar-tab h2 {
    display: block;
    float: left;
    height: 45px;
    width: 50%;
    line-height: 45px;
    background: #ededed;
    text-align: center;
    cursor: pointer; }
    .social-sidebar-tab h2 .fa {
      color: #fff;
      font-size: 20px; }
    .social-sidebar-tab h2:hover#facebook-tab, .social-sidebar-tab h2.active#facebook-tab {
      background: #3b5998; }
    .social-sidebar-tab h2:hover#twitter-tab, .social-sidebar-tab h2.active#twitter-tab {
      background: #4099ff; }
  .social-sidebar-tab > div {
    display: none;
    clear: both;
    height: auto;
    overflow: hidden; }
  .social-sidebar-tab > div.active {
    display: block; }
  .social-sidebar-tab .facebook-tab {
    width: 100%;
    border-top: 5px #3b5998 solid; }
  .social-sidebar-tab .twitter-tab {
    width: 100%;
    border-top: 5px #4099ff solid; }

.sentimeter {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  height: auto; }
  .sentimeter > h1 {
    font-size: 16px;
    display: block;
    height: 20px;
    margin: 0 auto;
    line-height: 20px;
    width: 150px;
    font-family: "Lora", serif;
    font-style: italic;
    text-transform: uppercase;
    background: #fff;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
    font-weight: 700; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .sentimeter > h1 {
        margin-bottom: 10px; } }
    .sentimeter > h1:before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #e5e5e5;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: -1; }
  .sentimeter ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    left: 0;
    bottom: 0;
    padding-top: 50px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .sentimeter ul {
        padding-top: 100px;
        height: 300px; } }
    .sentimeter ul li {
      display: block;
      width: 25%;
      height: auto;
      float: left;
      padding: 1px;
      position: absolute;
      bottom: 0; }
      .sentimeter ul li:nth-child(2) {
        left: 25%; }
        .sentimeter ul li:nth-child(2) .bar {
          background: #e31837; }
      .sentimeter ul li:nth-child(3) {
        left: 50%; }
        .sentimeter ul li:nth-child(3) .bar {
          background: #ca1920; }
      .sentimeter ul li:nth-child(4) {
        left: 75%; }
        .sentimeter ul li:nth-child(4) .bar {
          background: #990033; }
      .sentimeter ul li .status {
        display: block;
        overflow: hidden; }
        .sentimeter ul li .status .status-hash {
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          float: left;
          width: -moz-calc(50% - 20px);
          width: -webkit-calc(50% - 20px);
          width: calc(50% - 20px);
          font-weight: 700;
          color: #e5e5e5; }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .sentimeter ul li .status .status-hash {
              float: none;
              text-align: center;
              width: 100%; } }
        .sentimeter ul li .status .status-icon {
          display: block;
          height: 40px;
          line-height: 25px;
          text-align: center;
          float: left;
          width: 40px; }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .sentimeter ul li .status .status-icon {
              float: none;
              text-align: center;
              width: 100%; } }
        .sentimeter ul li .status .status-rate {
          display: block;
          height: 40px;
          line-height: 40px;
          text-align: center;
          float: left;
          width: -moz-calc(50% - 20px);
          width: -webkit-calc(50% - 20px);
          width: calc(50% - 20px);
          color: #e5e5e5; }
          @media only screen and (min-width: 0) and (max-width: 767px) {
            .sentimeter ul li .status .status-rate {
              float: none;
              text-align: center;
              width: 100%; } }
      .sentimeter ul li .share {
        display: block;
        width: 100%;
        overflow: hidden;
        margin-bottom: 2px;
        max-height: 0;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .sentimeter ul li .share a {
          display: block;
          float: left;
          width: 50%;
          text-align: center;
          height: 25px;
          line-height: 25px;
          color: #fff; }
          .sentimeter ul li .share a.senti-fb {
            background: #3b5998; }
          .sentimeter ul li .share a.senti-tw {
            background: #4099ff; }
      .sentimeter ul li .bar {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        background: #eb1d26; }
      .sentimeter ul li:hover .share {
        -moz-transition: 1s;
        -webkit-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        max-height: 25px; }

/*# sourceMappingURL=main.css.map */
