doctype html
html(lang="en")
	include layout/head
	include mixins/ads
	include mixins/article-list
	body

		//ADS LEADERBOARD
		+ads-leaderboard
		//Header
		include layout/header.jade
		//content here
		.container
			.wrapper
				.content

					//VIDEO ARTICLE
					include modules/video-article

					//OPINION
					include modules/opinion

					//SENTI METER
					include modules/senti-meter

					//ADS
					+ads-content

				//SIDEBAR
				.sidebar
					//Default Sidebar
					.default-sidebar
						h1.widget-title RELATED STORIES

						ul.sidebarlist
							+article-list-sidebar

					//Ads 300px
					+ads-sidebar

					.default-sidebar
						h1.widget-title MOST RECENT

						ul.sidebarlist
							+article-list-sidebar




					//Ads 300px
					+ads-sidebar

				include modules/full-article-list






		include layout/footer


