*,*::after, *::before
	+borderbox

.main
	width: 100%
	height: 118px
	background: $black
	margin-bottom: 100px
	position: relative
	+fortablet
		height: auto
		margin-bottom: 30px
	+formobile
		height: auto
		margin-bottom: 0


	&.fixed
		position: fixed
		left: 0
		top: 0
		z-index: 10
		height: 50px
		+formobile
			height: auto

		.topbar
			display: none
		.site-title
			height: 50px
			line-height: 55px
		.social
			height: 50px
			line-height: 50px
			.searchbox
				margin: 10px 0
		.burgermenu
			+fortablet
				margin: 15px 0
		.main-nav
			height: 50px
			line-height: 50px
			+fortablet
				height: auto
			+formobile
				height: auto
			.nav
				padding: 0
				a
					padding-bottom: 0
					&:after
						display: none

	.topbar
		width: 100%
		height: 28px
		background: $red-light-1

		+formobile
			overflow: hidden
			height: auto
			max-height: 28px
			+transitionspeed(50ms)

			&.slideDown
				max-height: 1000px
				+transitionspeed(1s)




