
<div class="footer">
  <div class="footer-menu"><a href="">Aksyon</a><a href="">On Air</a><a href="">Kontrabando</a><a href="">Newsroom5</a><a href="">Factuals</a></div>
  <div class="footer-menu2"><a href="">Terms of Services</a><a href="">Privacy Policy</a></div>
  <div class="copyright">
    <p>© 2015 TV5 Network Inc. All Rights Reserved.</p>
  </div>
</div>
<div class="overlay"></div>
<script type="" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="js/all.js"></script>