
<header class="main">
  <div class="topbar">
    <div class="wrapper"><a class="topnav mobile"><i class="fa fa-angle-double-down"></i></a>
      <ul class="topmenu">
        <li><a href=""><img src="/css/img/home.png"/></a></li>
        <li><a href="">live<span class="liveindicator"></span></a></li>
        <li><a href="">sports</a></li>
        <li><a href="">news</a></li>
        <li><a href="">entertainment</a></li>
        <li><a class="more">more</a></li>
      </ul>
      <ul class="access">
        <li><a href="">SINGUP</a></li>
        <li><a href="">LOG IN</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper">
    <div class="logo"><img src="/css/img/logo.png" alt="alt"/></div>
    <div class="site-title"><img src="/css/img/site-title.png" alt="alt"/></div><a class="burgermenu"><span></span></a>
    <div class="main-nav">
      <input type="search" placeholder="Search" class="mobilesearch"/>
      <ul class="nav">
        <li class="active"><a href="">Aksyon</a>
          <ul class="submenu">
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
        <li><a href="">Live</a>
          <ul class="submenu">
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
        <li><a href="">Kontrabando</a>
          <ul class="submenu">
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
        <li><a href="">Newroom<span>5</span></a>
          <ul class="submenu">
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
        <li><a href="">Factuals</a>
          <ul class="submenu">
            <li><a href="">Submenu</a></li>
          </ul>
        </li>
      </ul>
      <div class="mobile-social"><a class="m-social--facebook"><i class="fa fa-facebook"></i></a><a class="m-social--twitter"><i class="fa fa-twitter"></i></a></div>
    </div>
    <div class="social"><span><a class="searchBtn"><i class="fa fa-search"></i></a>
        <input type="search" placeholder="Search" class="searchbox"/></span><a><i class="fa fa-facebook"></i></a><a><i class="fa fa-twitter"></i></a></div>
  </div>
</header>