.radio-sidebar
	img(src='css/img/radio-logo.png' alt)

	.control
		a(class='play-radio')
			i(class='fa fa-play')

		span.status ON AIR

		.radio-caption Interview with Gringo Honasan

		audio#radio
			source(src='mp3/sample.ogg' type='audio/ogg')
			source(src='mp3/sample.mp3' type='audio/mp3')






