.sentimeter
	h1 SENTI METER

	ul
		li
			span.status
				span.status-hash #Tama
				span.status-icon
					img(src='/css/img/smiley1.png')
				span.status-rate

			span.share
				a(class='senti-fb')
					i(class='fa fa-facebook')
				a(class='senti-tw')
					i(class='fa fa-twitter')

			.bar(data-rate='60')

		li
			span.status
				span.status-hash #Kebs
				span.status-icon
					img(src='/css/img/smiley2.png')
				span.status-rate

			span.share
				a(class='senti-fb')
					i(class='fa fa-facebook')
				a(class='senti-tw')
					i(class='fa fa-twitter')

			.bar(data-rate='10')

		li
			span.status
				span.status-hash #Labo
				span.status-icon
					img(src='/css/img/smiley3.png')
				span.status-rate

			span.share
				a(class='senti-fb')
					i(class='fa fa-facebook')
				a(class='senti-tw')
					i(class='fa fa-twitter')

			.bar(data-rate='30')

		li
			span.status
				span.status-hash #Sad
				span.status-icon
					img(src='/css/img/smiley4.png')
				span.status-rate

			span.share
				a(class='senti-fb')
					i(class='fa fa-facebook')
				a(class='senti-tw')
					i(class='fa fa-twitter')

			.bar(data-rate='20')

