.social-sidebar-tab
	h2#facebook-tab.active: i(class='fa fa-facebook')
	h2#twitter-tab: i(class='fa fa-twitter')

	.facebook-tab.active
		img(src='images/fb-tab.png')
	.twitter-tab
		img(src='images/tw-tab.png')


