.video-article
	//add class live on video-conteiner i=to show live
	.video-container(data-videoID='o2UwWPP43ew' class='live')
		span.live LIVE

		a(class='playvideo')
		.acontent
			img(src='http://lorempixel.com/976/601/business/' alt='')


			//iframe(width='420' height='315' src='https://www.youtube.com/embed/o2UwWPP43ew' frameborder='0' allowfullscreen)


	h1.video-title Barko na Sumadsad sa Manila Bay, Lumutang na

	span.timestamp Cherie Mercado, 20 October 2015

	p
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac nibh nec ex tempus pretium non nec turpis. Morbi nec congue tortor.

	p
		| Vivamus tristique cursus interdum. Nullam nec aliquam erat. Lorem ipsumLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac nibh nec ex tempus pretium non nec turpis. Morbi nec congue tortor. Vivamus tristique cursus interdum. Nullam nec aliquam erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis cursus est sed sodales. Praesent pellentesque  in volutpat dictum, lacus felis tristique ipsum, id varius nibh orci quis justo. Integer eu ligula nisi. Proin finibus felis erat, in faucibus orci aliquet sed. Donec sit amet orci sem. Pellentesque gravida dolor eu arcu vehicula... hendrerit. Duis eget erat et enim viverra egestas. Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Etiam consectetur justo ipsum. Sed fermentum, est in cursus vulputate, lectus diam condimentum mi, gravida lobortis orci nibh non quam. Morbi efficitur massa ipsum, non consectetur magna elementum ut. Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condimentum consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum. Quisque condimentum turpis sed ullamcorper iaculis. Suspendisse tincidunt fringilla libero vitae luctus. In neque risus, scelerisque sed dui nec, semper posuere nisi. Nam egestas risus odio, vitae volutpat leo condimentum eget. Cras ut sagittis arcu, quis sodales tellus. Maecenas quis nisl et nisl ullamcorper mattis feugiat et eros. Praesent erat risus, viverra quis bibendum quis, egestas eget mauris. Phasellus at ullamcorper dolor. In hac habitasse platea dictumst. Nam in efficitur justo. Vivamus at quam ut risus tempor tristique. Sed vestibulum faucibus urna, eu iaculis neque. Vivamus convallis massa enim, sed convallis diam feugiat in. Ut fringilla faucibus gravida. Cras venenatis fermentum augue, eu fermentum ligula venenatis ut. Sed elementum metus et massa consectetur aliquet. Phasellus eget neque commodo, varius leo nec, venenatis turpis. Morbi quis leo a est blandit consequat. Duis convallis ullamcorper pharetra. dolor sit amet, consectetur adipiscing elit. Pellentesque mattis cursus est sed sodales. Praesent pellentesque tincidunt neque, vel bibendum mi tempus a. In varius ipsum lacus, non dictum ante venenatis nec. Quisque sit amet blandit purus, vel feugiat massa. Maecenas at vulputate augue. Donec lobortis, nisi in volutpat dictum, lacus felis tristique ipsum, id varius nibh orci quis justo. Integer eu ligula nisi. Proin finibus felis erat, in faucibus orci aliquet sed. Donec sit amet orci sem. Pellentesque gravida dolor eu arcu vehicula hendrerit. Duis eget erat et enim viverra egestas ac vel mi. Suspendisse potenti. Quisque accumsan neque et lectus pretium hendrerit quis consequat justo. Etiam consectetur justo ipsum. Sed fermentum, est in cursus vulputate, lectus diam condimentum mi, gravida lobortis orci nibh non quam. Morbi efficitur massa ipsum, non consectetur magna elementum ut. Cras elementum semper ipsum, bibendum pellentesque libero viverra vitae. Pellentesque feugiat sit amet ligula at mattis. Vivamus ac arcu a mauris laoreet gravida nec ac nisi. Vivamus viverra auctor est, nec tristique erat fringilla sit amet. Nunc auctor condimentum consequat. Curabitur tempor ac massa eget feugiat. Quisque iaculis eleifend purus non rutrum. Quisque condimentum turpis sed ullamcorper iaculis. Suspendisse tincidunt fringilla libero vitae luctus. In neque risus, scelerisque sed dui nec, semper posuere nisi. Nam egestas risus odio, vitae volutpat leo condimentum eget. Cras ut sagittis arcu, quis sodales tellus. Maecenas quis nisl et nisl ullamcorper mattis feugiat et eros. Praesent erat risus, viverra quis bibendum quis, egestas eget mauris. Phasellus at ullamcorper dolor. In hac habitasse platea dictumst. Nam in efficitur justo. Vivamus at quam ut risus tempor tristique. Sed vestibulum faucibus urna, eu iaculis neque. Vivamus convallis massa enim, sed convallis diam feugiat in. Ut fringilla faucibus gravida. Cras venenatis fermentum augue, eu fermentum ligula venenatis ut. Sed elementum metus et massa consectetur aliquet. Phasellus eget neque commodo, varius leo nec, venenatis turpis. Morbi quis leo a est blandit consequat. Duis convallis ullamcorper pharetra.


	.sharebox
		span.share-cont
			a(class='fbshare-vid')
				i(class='fa fa-facebook')
			span.share-count 999

		span.share-cont
			a(class='twshare-vid')
				i(class='fa fa-twitter')
			span.share-count 500

	.comment-container
		img(src='./images/commentbox.png' alt)

